extends layout

block content

    .jumbotron
        h1 Elven Site Builder

        button#makeHtml.btn.btn-warning Make HTML
        button#makeImage.btn.btn-success Create Images

    div#pageLoad
        p To see options, select a button above.