doctype html
html
    head
        block meta
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width')
            title= title
        block css
            link(rel='stylesheet', href='/components/bootswatch/cerulean/bootstrap.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
            link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        block script
            script(data-main="javascripts/main.js" src="/components/requirejs/require.js")
    body
        block content
