//
   Created by charlie on 3/6/16.

block pix-picker
    h1= title
    p <em>by  #{author}</em>

    form#elfform(role="form")
        div
            p.title Image Picker
            button#createMarkdown Create Image Page
            button#deleteMarkdown Delete Image Page

    div
        ul#debug