body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

p.title, span.title {
    font-weight: bold;
}

p.optionText {
    padding-left: 20px;
}

input {
    width: 250px;
}

div {
    border: #d4e6ff solid thin;
    padding: 3px;
    margin-top: 3px;
}

.pageLink {
    margin: 5px;
    padding: 3px;
    border: black solid thin;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}